<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Parquet Item</title>
    <link rel="stylesheet" href="/css/style3.css">
</head>
<body>
<div class="container">
    <h1>Add Parquet Item</h1>
    <form
          id="addParquetForm"
          th:method="post"
          th:action="@{/add-parquet}"
          th:object="${parquetData}"
    >
        <label for="name">Name:</label>
        <input
                th:field="*{name}"
                type="text"
                id="name"
                name="name"
        >

        <label for="model">Model:</label>
        <select id="model" name="model" th:field="*{modelName}">
            <option th:each="model: ${models}" th:value="model" th:text="${model}"></option>
        </select>

        <label for="size">Size:</label>
        <input
                th:field="*{size}"
                type="number"
                id="size"
                name="size"
        >

        <label for="classRate">Class Rate:</label>
        <input
                th:field="*{classRate}"
                type="number"
                id="classRate"
                name="classRate"
                step="0.1"
        >

        <label for="imageUrl">Image Url:</label>
        <input
                th:field="*{imageUrl}"
                type="text"
                id="imageUrl"
                name="imageUrl"
        >

        <button type="submit" class="btn btn-primary btn-block w-50">Add Parquet</button>
    </form>
</div>
</body>
</html>
