<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
   <head th:replace="~{fragments/commons::head}"></head>
   <body>
      <!-- header section start -->
   <header th:replace="~{fragments/commons::header}"></header>
      <!-- header section end -->
      <!-- cycle section start -->
      <div class="cycle_section layout_padding" id="section_parquet">
         <div class="container">
            <h1 class="cycle_taital" th:text="#{parquet_section_header}">THE BEST, SPECIALLY FOR YOU</h1>
            <p class="cycle_text" th:text="#{parquet_section_header_text}">Laminate parquet, Vinyl parquet, Classic parquet, Three-layered parquet, Carpet Tiles</p>
            <div class="cycle_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="box_main">
                        <h6 class="number_text">01</h6>
                        <div class="image_2"><img src="/images/parquet1.png"></div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="cycles_text" th:text="#{parquet_section_laminate}">LAMINATE <br>PARQUET </h1>
                     <p class="lorem_text" th:text="#{parquet_section_laminate_text}">Laminate parquet flooring offers an affordable and stylish alternative to traditional hardwood floors,
                        combining the aesthetic appeal of natural wood with the durability and ease of maintenance that modern materials provide.
                        This versatile flooring option is composed of multiple layers, including a high-density fiberboard core, a photographic applique
                        layer that simulates the look of real wood, and a protective wear layer that shields the surface from scratches, stains, and fading.</p>
                     <div class="btn_main">
                        <div class="buy_bt"><a th:href="@{/parquets/model/laminate}" th:text="#{parquet_section_btn}">SEE ALL</a></div>
<!--                        <h4 class="price_text">Price <span style=" color: #f7c17b">$</span> <span style=" color: #325662">200</span></h4>-->
                     </div>
                  </div>
               </div>
            </div>
            <div class="cycle_section_3 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <h1 class="cycles_text" th:text="#{parquet_section_vinyl}">VINYL <br>PARQUET </h1>
                     <p class="lorem_text" th:text="#{parquet_section_vinyl_text}">Vinyl parquet flooring is a versatile and durable flooring option that combines the aesthetic appeal of natural wood with
                        the practicality and resilience of vinyl materials. Designed to mimic the intricate patterns and rich textures of traditional wood parquet floors,
                        vinyl parquet offers a high-end look without the associated maintenance challenges or costs. This flooring is ideal for both residential and commercial
                        settings, providing a stylish and long-lasting solution that can withstand daily wear and tear.</p>
                     <div class="btn_main">
                        <div class="buy_bt"><a th:href="@{/parquets/model/vinyl}" th:text="#{parquet_section_btn}">SEE ALL</a></div>
<!--                        <h4 class="price_text">Price <span style=" color: #f7c17b">$</span> <span style=" color: #325662">200</span></h4>-->
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="box_main_3">
                        <h6 class="number_text_2">02</h6>
                        <div class="image_2"><img src="/images/parquet2.png"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="cycle_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="box_main_3">
                        <h6 class="number_text_2">03</h6>
                        <div class="image_2"><img src="/images/parquet3.png"></div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="cycles_text" th:text="#{parquet_section_classic}">CLASSIC <br>PARQUET</h1>
                     <p class="lorem_text" th:text="#{parquet_section_classic_text}">Classic parquet flooring is a timeless and elegant choice that adds a touch of sophistication and warmth to any interior space.
                        Known for its distinctive geometric patterns, such as herringbone, chevron, and basket weave, classic parquet is made from solid or engineered wood
                        pieces arranged in intricate designs. This traditional flooring option has been revered for centuries for its artistic craftsmanship and natural beauty,
                        making it a popular choice for homeowners and designers seeking a blend of tradition and luxury.</p>
                     <div class="btn_main">
                        <div class="buy_bt"><a th:href="@{/parquets/model/classic}" th:text="#{parquet_section_btn}">SEE ALL</a></div>
<!--                        <h4 class="price_text">Price <span style=" color: #f7c17b">$</span> <span style=" color: #325662">200</span></h4>-->
                     </div>
                  </div>
               </div>
            </div>
            <div class="read_btn_main">
               <div class="read_bt"><a th:href="@{/parquets/all}" th:text="#{parquet_section_all_models_btn}">SEE ALL MODELS</a></div>
            </div>
         </div>
      </div>
      <!-- cycle section end -->
      <!-- about section start -->
      <div class="about_section layout_padding" id="section_about">
         <div class="container">
            <h1 class="about_taital" th:text="#{about_section_header}">About Our Parquet Store</h1>
            <p class="about_text" th:text="#{about_section_header_text}">Here at Minchev Parquet we supply the very best in European Parquet Flooring.
               Our passion for ethically sourced hardwood led us to create a site that provides quality flooring at a low price.
               As a newly established retail company in a widely competitive industry, our expertise comes from supplying and fitting parquet flooring for over 20 years.
            </p>
            <div class="about_main">
               <img src="/images/minchev_parquet.png" class="image_5">
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- news section start -->
      <div class="news_section layout_padding" id="section_news">
         <div class="container">
            <h1 class="news_taital" th:text="#{news_section_header}">News</h1>
            <p class="news_text" th:text="#{news_section_header_text}">Choose laminate parquet, classic parquet or vinyl for your home.</p>
            <div class="news_section_2 layout_padding">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="box_main_1">
                        <div class="zoomout frame"><img src="/images/klasovete-na-iznosoustojchivost-pri-podovite-nastilki.png"></div>
                        <div class="padding_15">
                           <h2 class="speed_text" th:text="#{news_section_text_1}">WHY Are Wear Resistance Classes and AC Ratings Important?</h2>
<!--                           <p class="long_text">It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>-->
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="box_main_1">
                        <div class="zoomout frame"><img src="/images/vdahnete-nov-zhivot-na-vashia-dom-s-laminiran-parket-vitality.png"></div>
                        <div class="padding_15">
                           <h2 class="speed_text" th:text="#{news_section_text_2}">Breathe new life into your home with Vitality laminate flooring!</h2>
<!--                           <p class="long_text">It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>-->
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="box_main_1">
                        <div class="zoomout frame"><img src="/images/10-prichini-da-izberete-vinilova-nastilka.png"></div>
                        <div class="padding_15">
                           <h2 class="speed_text" th:text="#{news_section_text_3}">10 reasons to choose vinyl flooring</h2>
<!--                           <p class="long_text">It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>-->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- news section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding" id="section_contact">
         <div class="container">
            <div class="contact_main">
               <h1 class="request_text" th:text="#{contact_section_header}">A Call Back</h1>
               <form
                       th:method="POST"
                       action="#section_contact"
               >
                  <div class="form-group">
                     <input
                             type="text"
                             class="email-bt"
                             placeholder="Name"
                             name="sender"
                             id="sender"
                             required
                     >
                  </div>
                  <div class="form-group">
                     <input
                             type="text"
                             class="email-bt"
                             placeholder="Email"
                             name="Name"
                             required

                     >
                  </div>
                  <div class="form-group">
                     <input
                             type="text"
                             class="email-bt"
                             placeholder="Phone Number"
                             name="Email"
                             required
                     >
                  </div>
                  <div class="form-group">
                     <textarea
                             class="massage-bt"
                             placeholder="Massage"
                             rows="5"
                             id="comment"
                             name="Massage"
                     ></textarea>
                  </div>
                  <div class="send_btn" type="submit"><a th:href="@{/}" th:text="#{contact_section_btn}">SEND</a></div>
               </form>

            </div>
         </div>
      </div>
      <!-- contact section end -->
      <!-- footer section start -->
    <footer th:replace="~{fragments/commons::footer}"></footer>
   </body>
</html>