<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="icon" href="/images/favicon.ico" type="image/gif" />
</head>
<body>
<div class="form-container">
    <h2>Registration</h2>
    <form
            th:method="post"
            th:action="@{/users/register}"
            th:object="${registerDTO}"
    >
        <div class="form-group">
               <label th:for="firstName" >First name</label>
               <input th:field="*{firstName}"
                      th:errorclass="'is-invalid'"
                      type="text"
                      id="firstName"
                      name="firstName"
               >
            <small th:if="${#fields.hasErrors('firstName')}" id="firstNameError"
                   class="invalid-feedback bg-danger rounded">First name should be between 2 and 20 symbols!</small>
        </div>
        <div class="form-group">
            <label th:for="lastName">Last name</label>
            <input
                    th:field="*{lastName}"
                    th:errorclass="'is-invalid'"
                    type="text"
                    id="lastName"
                    name="lastName"
            >

            <small th:if="${#fields.hasErrors('lastName')}" id="lastNameError"
                   class="invalid-feedback bg-danger rounded">Last name should be between 2 and 20 symbols!</small>
        </div>
        <div class="form-group">
            <label th:for="email">Email</label>
            <input
                    th:field="*{email}"
                    th:errorclass="'is-invalid'"
                    type="email"
                    id="email"
                    name="email"
            >
            <small th:errors="*{email}" id="emailError"
                   class="invalid-feedback text-white form-text bg-danger rounded"></small>
        </div>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input
                    th:errorclass="'is-invalid'"
                    type="password"
                    id="password"
                    name="password"
            >
            <small th:errors="*{password}" id="passwordError"
                   class="invalid-feedback text-white form-text bg-danger rounded"></small>
        </div>
        <div class="form-group">
            <label th:for="confirmPassword">Confirm Password</label>
            <input
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
            >
        </div>
        <button type="submit" class="btn">Register</button>
        <p>You have an account? <a th:href="@{/users/login}">Login</a></p>
    </form>
</div>
</body>
</html>